.navcontainer{
    display:flex;
    width:30%;
    color:white;
    padding:10px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: 1px;
    
    margin:0;
    gap:20px;
}
.nav-bar{
    display:grid;
    grid-template-columns: 2fr 5fr 2fr;
    background-color: black;
    margin:0;
}
.ayush{
    color: white;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: 1px;
    display:flex;
    justify-content: center;
    margin:0;
    padding-top: 8px;

}
.hero{
    display:flex;
    margin:0;
    height: 60vh;
}
.profileimage{
    height:150px;
    width:150px;
    border-radius: 50%;
    padding:0px;
    border: 1px groove black;
    margin: 10px;
    margin-left: 80px;
    margin-top: 70px;
    box-shadow: 0 0 10px 0 rgba(0,0,1,2);
    object-fit:cover;
}
.profileimage:hover{
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 15px 0 10px 0 rgba(0,0,0,1);
}
.introtext{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 5%;
    padding-left: 5%;
}
body{
    margin:0;
    
}
section{
    background-color: lightgray;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
}
.container{
    background-color: lightgray;

}
footer{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;

    padding: 10px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.footer-text{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}